numpy
pandas
# tensorflow
matplotlib
seaborn
scikit-learn
imbalanced-learn
mlflow==2.2.2
notebook
python-box==6.0.2
pyYAML
dvc
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
catboost
xgboost
kfp==1.8.19
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kubernetes==19.15.0

# -e .